name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install cross
        working-directory: ./app
        run: cargo install cross

      - name: Build
        working-directory: ./app
        run: cross build --target x86_64-pc-windows-gnu

      - name: Archive build artifact
        uses: actions/upload-artifact@v2
        with:
          name: rust-build
          path: app/*
          if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn`