name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./rust

    steps:
    - uses: actions/checkout@v3

    # - run: mkdir -p counter

    - name: Install cross
      run: cargo install cross

    - name: Build
      run: cross build --target x86_64-pc-windows-gnu

    - name: Archive build artifact
      uses: actions/upload-artifact@v2
      with:
        name: rust-build
        path: rust/rust-build
        if-no-files-found: error # 'warn' or 'ignore' are also available, defaults to `warn`